.section_slide {
  margin: 40px 25% 40px 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1360px) {
  .slide {
    justify-content: center;
    align-items: center;
  }

  .section_slide {
    margin: 40px 15% 40px 15%;
  }
}

@media (max-width: 1000px) {
  .section_slide {
    margin: 40px 10% 40px 10%;
  }
}
