button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #0f68bb;
  border-radius: 8px;
  border: none;
  padding: 10px 26px;
}

.button:hover {
  transform: scale(1.03);
  transition: all 150ms;
}

a {
  list-style: none;
  color: #fff;
  text-decoration: none;
}
