/* MAIN */
.main {
  padding: 0px 0px 50px 0px;
  text-align: center;
}

/* RESPONSIVE */

@media (max-width: 1370px) {
  .main {
    padding: 5px 0 50px 0px;
  }
}

@media (max-width: 1260px) {
  .main {
    background-size: contain;
    padding: 5px 0 60px 0px;
  }
}
